<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
  	<servlet-name>DoctorRegister</servlet-name>
  	<display-name>DoctorRegister</display-name>
  	<description></description>
  	<servlet-class>com.hospital.DoctorRegister</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>PatientRegister</servlet-name>
  	<display-name>PatientRegister</display-name>
  	<description></description>
  	<servlet-class>com.hospital.PatientRegister</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ServletPatientLogin</servlet-name>
  	<display-name>ServletPatientLogin</display-name>
  	<description></description>
  	<servlet-class>com.hospital.ServletPatientLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorLoginServlet</servlet-name>
  	<display-name>DoctorLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.hospital.DoctorLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdimLoginServlet</servlet-name>
  	<display-name>AdimLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.hospital.AdimLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.hospital.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddDepartmentServlet</servlet-name>
  	<display-name>AddDepartmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.hospital.AddDepartmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteDepartmentServlet</servlet-name>
  	<display-name>DeleteDepartmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.hospital.DeleteDepartmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewDepartmentDetails</servlet-name>
  	<display-name>ViewDepartmentDetails</display-name>
  	<description></description>
  	<servlet-class>com.hospital.ViewDepartmentDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewDepartmentDetailsServlet</servlet-name>
  	<display-name>ViewDepartmentDetailsServlet</display-name>
  	<description></description>
  	<servlet-class>com.hospital.ViewDepartmentDetailsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchDoctorByNameServlet</servlet-name>
  	<display-name>SearchDoctorByNameServlet</display-name>
  	<description></description>
  	<servlet-class>com.hospital.SearchDoctorByNameServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeactivateDoctorProfileServlet</servlet-name>
  	<display-name>DeactivateDoctorProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.hospital.DeactivateDoctorProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddAnAppointmentServlet</servlet-name>
  	<display-name>AddAnAppointmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.hospital.AddAnAppointmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeactivatePatientProfileServlet</servlet-name>
  	<display-name>DeactivatePatientProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.hospital.DeactivatePatientProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetPatientIdServlet</servlet-name>
  	<display-name>GetPatientIdServlet</display-name>
  	<description></description>
  	<servlet-class>com.hospital.GetPatientIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DoctorRegister</servlet-name>
  	<url-pattern>/DoctorRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatientRegister</servlet-name>
  	<url-pattern>/PatientRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletPatientLogin</servlet-name>
  	<url-pattern>/ServletPatientLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorLoginServlet</servlet-name>
  	<url-pattern>/DoctorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdimLoginServlet</servlet-name>
  	<url-pattern>/AdimLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDepartmentServlet</servlet-name>
  	<url-pattern>/AddDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteDepartmentServlet</servlet-name>
  	<url-pattern>/DeleteDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewDepartmentDetails</servlet-name>
  	<url-pattern>/ViewDepartmentDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewDepartmentDetailsServlet</servlet-name>
  	<url-pattern>/ViewDepartmentDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchDoctorByNameServlet</servlet-name>
  	<url-pattern>/SearchDoctorByNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeactivateDoctorProfileServlet</servlet-name>
  	<url-pattern>/DeactivateDoctorProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAnAppointmentServlet</servlet-name>
  	<url-pattern>/AddAnAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeactivatePatientProfileServlet</servlet-name>
  	<url-pattern>/DeactivatePatientProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetPatientIdServlet</servlet-name>
  	<url-pattern>/GetPatientIdServlet</url-pattern>
  </servlet-mapping>
</web-app>
